*.js
!jest.config.js
*.d.ts
!src/lead-gen-spa/src/vite-env.d.ts
node_modules
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out

# Static analysis reports
report/

.env.local

.env
.env.*

dist
