# Dependencies
node_modules

# Build output
dist

# Development
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile
Dockerfile.dev
docker-compose.yml
.dockerignore

# Tests
coverage
tests
*.test.ts
*.spec.ts
__tests__

# Misc
*.log
*.md
.DS_Store
